<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iberfabric.Notifications" version="1.0.0-CI-20190617-135210" targetFramework="net461" />
  <package id="Iberfabric.ServiceBus.Messages" version="1.0.0" targetFramework="net461" />
  <package id="IdentityModel" version="4.1.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net461" />
  <package id="NServiceBus" version="7.1.8" targetFramework="net461" />
  <package id="NServiceBus.Newtonsoft.Json" version="2.1.0" targetFramework="net461" />
  <package id="NServiceBus.RabbitMQ" version="5.1.2" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="5.1.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.7.2" targetFramework="net461" />
</packages>